.appHeader{
    color: whitesmoke;
    font-family: $roboto;
    span{
        font-family: $openSans
    }
}
.pro-pic{
    border-radius: 50%;
    float: right;
    
    
}
.prof-land{
    position: absolute;
    top: -15%;
    right: 0;   
    

}
