.appHeader{
    color: whitesmoke;
    font-family: $roboto;
    span{
        font-family: $openSans
    }
}
.pro-pic{
    border-radius: 50%;
    float: right;
    
    
}
.prof-land{
    position: absolute;
    top: -15%;
    right: 0;   
}
.notification{
    width: 30%;
    display: inline-flex;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: transparent;
    right: 8%;
    top: 24%;
    #noteBut{
        padding-left: 13px;
    }
}
