
.new-doc-box{
    background: #43424a;
    font-family: $roboto;
    color: whitesmoke;
.new-doc{
    height: 40vh;
    text-align: center;
}
}
.recent-doc{
    padding-top: 5px;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 500;
    background: whitesmoke;
    .my-docs{
    text-align: center;
    min-height: 70vh;
}
}
.doc-box{
    height: 195px;
    width: 150px;
    margin: 20px;
    text-align: left;
    display: inline-block;
    padding: 12px;
    position: relative;
    box-shadow: 0px 0px 18px #b2b2b2;
    span{
        text-decoration: none;
        color: #222;
        font-size: 16px;
        // font-family: 'Open Sans';
        line-height: 20px;
    }



    transition-duration: .5s;
    &:hover{
        -ms-transform: scale(.97,.97); /* IE 9 */
        -webkit-transform: scale(.97,.97); /* Safari */
        transform: scale(.97,.97);
        box-shadow: 0px 0px 0px #b2b2b2;

        // }
    }
}

// .doc-box:hover{
//     height: 160px;
//     width: 120px;
// }
.my-docs{
    display: inline-flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: flex-start;
    margin-left: 10%;
}

.loader{
    margin: auto;
}

.pop-out{
    position: relative;
    margin: auto;
    height:70px;
    width: 220px;
    background: pink;
    transition: all 5s ease-in-out;
}