.sheets{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .menu-bar{
        width: 100%;
        height: $sheets-toolbar-height;
        background-color: #eee;
        color: gray;
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{
            border-style: solid;
            border-width: 0px 1px 0px 0px;
            border-color: lightgray;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            div{
                border-style: none;
            }
        }
        .undo-redo{
            width: 100px;
            height: $sheets-toolbar-height;
            
            .undo{
                width: 50px;
                height: 20px;
                cursor:pointer;
            }
            .redo{
                width: 50px;
                height: 20px;
                cursor:pointer;
            }
        }
        .zoom-select{
            width: 100px;
            height: $sheets-toolbar-height;
            
            select{
                textarea, input { outline: none; }
            }

        }
        .data-type-select{
            padding-left: .5px;
            width: 160px;
            height: $sheets-toolbar-height;
            display: flex;
            flex-direction: row;
            justify-content: space around;
            align-items: center;
            div{
                width: 38px;
                height: $sheets-tool-height;
                &:hover{
                    background-color: lightgray;
                } 
            }
        }
    }
    

    .table-container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        .table{
            div{
                    color: black;
                    font-family: 'Arial'
            }
            span.colHeader{
                color: black;
                // background-color: lightgray;
                font-family: 'Arial'
            }
            span.rowHeader{
                color: black;
                // background-color: darkgray;
                font-family: 'Arial'
            }
            thead th{
                // background-color: green;
                // color:white;
                // font-weight:bold;
                font-size:12px;
            }
            thead rh{
                font-size:12px;
            }
            .handsontable th {
                font-size: 12px;
                // background-color: #F3F3F3;
              }
            .ht_clone_left th{
                
                background-color: #ddd;
                // border-width: 1px 1px 1px 1px;
                border-color: #c0c0c0;
            }
            .ht_clone_top th {
                // font-size: 12px;
                background-color: #F3F3F3;
            }
            
            .black {
                color: black;
            }
            .red {
                color: red;
            }
            .orange{
                color: orange;
            }
            .yellow{
                color: yellow;
            }
            .green{
                color: #51ff3f;
            }
            .cyan{
                color: cyan;
            }
            .cornflowerblue{
                color: cornflowerblue
            }
            .blue{
                color: blue;
            }
            .purple{
                color: purple
            }
            .magenta{
                color: magenta
            }
            .bg-black {
                background-color: black;
            }
            .bg-red {
                background-color: red;
            }
            .bg-orange{
                background-color: orange;
            }
            .bg-yellow{
                background-color: yellow;
            }
            .bg-green{
                background-color: #51ff3f;
            }
            .bg-cyan{
                background-color: cyan;
            }
            .bg-cornflowerblue{
                background-color: cornflowerblue
            }
            .bg-blue{
                background-color: blue;
            }
            .bg-purple{
                background-color: purple
            }
            .bg-magenta{
                background-color: magenta
            }
        }
        
    }
}
