.menu-bar{
    width: 100%;
    height: 40px;
    .undo-redo{
        width: 80px;
        height: 40px;
        .undo{
            width: 40px;
            height: 40px;
            cursor:pointer;
        }
    }
}
.table{
    
    div{
            color: red;
        
        
    }
    span.colHeader{
        color: black;
    }
    span.rowHeader{
        color: black;
    }
}
